name: Test
on:
  pull_request:
    branches:
      - next
  push:
    branches:
      - next
jobs:
  runner-job:
    runs-on: ubuntu-latest
    env:
      DB_USER: postgres
      DB_PORT: 5432
      DB_NAME: postgres
      DB_PASSWORD: postgres
      DATABASE_URL: postgres://postgres:postgres@0.0.0.0:5432/postgres?sslmode=disable

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    name: Node.js ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2.4.1
        with:
          version: 6.24.4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install deps
        run: pnpm install
      - name: Linting
        run: pnpm lint
      - name: Docker Compose UP
        run: docker-compose up -d
      - name: Test
        run: pnpm test
